* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  --speed: 1.5;
  background-color: black;
  height: 100vh;
  overflow: hidden;
}

.element {
  position: absolute;
  -webkit-animation: colors calc(2.5s / var(--speed)) linear;
          animation: colors calc(2.5s / var(--speed)) linear;
}

@-webkit-keyframes colors {
  0% {
    color: white;
    opacity: 1;
  }
  5% {
    color: #65f071;
  }
  100% {
    opacity: 0;
  }
}

@keyframes colors {
  0% {
    color: white;
    opacity: 1;
  }
  5% {
    color: #65f071;
  }
  100% {
    opacity: 0;
  }
}
