* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	--speed: 1.5;
	background-color: black;
	height: 100vh;
	overflow: hidden;
}

.element {
	position: absolute;
	animation: colors calc(2.5s / var(--speed)) linear;
}

@keyframes colors {
	0% {
		color: rgb(255, 255, 255);
		opacity: 1;
	}

	5% {
		color: rgb(101, 240, 113);
	}

	100% {
		opacity: 0;
	}
}